@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$background: rgb(250, 246, 250);
$primary: rgb(42, 233, 240);
$secondary: rgb(150, 253, 172);
$error: rgb(221, 65, 70); 

$small: 600px;
$large: 1280px;

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $background;
    color: $primary;
}

.left {
    float: left;
}

.right {
    float: right;
}

.active {
    color: aqua;
}

.wrapper {
    margin: auto;
    max-width: 1200px;    

    @media screen and (max-width: $large) {
        width: 85%;
    }

    @media screen and (max-width: $small) {
        width: 95%;
    }

}

.error, .success {
    padding: 0.5em;
    background-color: rgb(226, 64, 64);
    
    p {
        margin: 0;
        font-size: 0.9em;
        font-weight: 600;
        text-align: center;
    }
}

.success {
    background-color: rgb(44, 187, 44);
}

nav {
    overflow: hidden;
    background-color: black;

    button {
        border: none;
        padding: 1em 1.25em;
        color: white;
        background-color: black;
        font-weight: 600;
    }

    button:hover {
        color: lightskyblue;
    }
}

.account {
    margin-top: 2em;

    .grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));

        .grid-item{
            width: 280px;
            margin-bottom: 2em;
            background-color: grey;
            border-radius: 1em;
            text-align: center;
            padding: 1em;

            h1{
                font-size: 1.5em;
                margin: 0.5em 0em;
            }
            
            form {
                label {
                    display: block;
                    text-align: left;
                }

                input {
                    box-sizing: border-box;
                    width: 100%;
                    margin-bottom: 1em;
                }

                input[type=submit]{
                    font-size: 1em;
                    margin-bottom: 0;
                    border: none;
                    padding: 0.25em 1.0em;
                    font-weight: 550;
                    background-color: black;
                    color: white;
                }
            }

        }
    }
}

// surround in .dashboard, ...
.optimise {
    margin-top: 2em;
}

.portfolio {
    margin-top: 2em;

    .value {
        h1, p {
            margin: 0;
            padding: 0;
            display: inline;
        }
    }

    .ranges {
        display: inline;
        float: right;
        margin-top: -1.75em;
    
        @media screen and (max-width: $small) {
            display: block;
            margin-top: 0;
            float: none;
        }

        button {
            padding: 0.25em 0.5em;
        }
    }

    .graph {
        margin-top: 0.25em;
    }
}

.increase {
    color: green;
}

.decrease {
    color: red;
}
